.subHeader{
    
    margin-top: 40px;
    margin-bottom: 20px;
}
.subHeader h2{
    margin: 0;
    width: fit-content;
    font-size: 2.4rem;
    position: relative;
    color: var(--subheader-color);
}
.subHeader h2:after{
    content: "";
    position: absolute;
    width: calc(100vw - 100% - 110px);
    right: calc(-100vw + 100% + 80px);
    height: 3px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light-gray-border);
}