
.adminLabelAlt{
    display: block;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.buttonsWrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.submitButton{
    display: block;
    margin-top: 20px;
}