*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --pink-background: #f1eded;
    --dark-pink: #d72f59;
    --black-background: #111111;
    --light-background: #fbfbfb;
    --gray-background: #f0f0f0;
    --white-background: #fff;
    --light-text: #fff;
    --dark-text: #111111;
    --gray-text:#a8a8a8;
}

.layout{
    background-color: var(--light-background);
    display: flex;
    gap: 10px;
}
a.active{
    color: var(--dark-pink);
}
.adminButton{
    background-color: var(--dark-pink);
    color: var(--light-text);
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .3s all;
    font-size: 1rem;
    border: none;
}
.adminButton:hover{
    border-radius: 0;
        background-color: #c70032;
}
.errorMessage{
    margin-top: 5px;
    font-size: .9rem;
    color: var(--dark-pink);
    margin-left: 10px;
}