.sideBar{
    width: 20%;
    background-color: var(--pink-background);
    height: 100vh;
    padding: 20px 10px;
}
.mainHeader{
    font-size: .8rem;
    color: var(--gray-text);
    margin-bottom: 10px;
}
.linkList{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.link{
    color: var(--dark-text);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}
.link:hover{
    text-decoration: underline;
}