.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: center;
}
.section {
    width: calc(50% - 30px);
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background-color: #F7F9FA ;
    padding: 15px 10px;
}
.icon {
    fill: #3b94f3;
    
    padding: 0;
}
.icon svg {
    height: 32px;
    max-height: 32px;
}
.info {
    width: 85%;
}
.infoHeader{
    color: #2C3E50 ;
    margin-bottom: 8px;
}
.infoBody{
    color: #555555;
    padding-left: 10px;
    line-height: 1.4;
}
@media (max-width: 968px) {
    .services {
        flex-direction: column;
    }
    .section {
        width: 100%;
    }
}