.footer {
    background-color: var(--main-dark);
    color: var(--main-light);
    padding: 3rem 2rem 1rem;
}

.footerTop {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    gap: 2rem;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.footerSection {
    margin-bottom: 10px;
}

.footerTitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-light);
    position: relative;
    padding-bottom: 0.5rem;
}

.footerTitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: var(--active-link);
}
.arFooter .footerTitle::after{
    right: 0;
    left: auto;
}
.footerText {
    color: #eeeeee;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.footerLinks {
    list-style: none;
    padding: 0;
}

.footerLinks li {
    margin-bottom: 0.8rem;
}
.contactLink {
     color: #eeeeee;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footerLink {
    color: #eeeeee;

    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
}

.footerLink:hover {
    color: var(--active-link);
    padding-left: 5px;
}

.socialLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.socialLink {
    background-color: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.socialIcon {
    fill: var(--main-light);
    width: 25px;
    height: 25px;
}
.socialLink:hover {
    background-color: var(--active-link);
    transform: translateY(-3px);
}

.contactInfo {
    list-style: none;
    padding: 0;
    color: #eeeeee;
}

.contactInfo li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.contactIcon {
    fill: var(--main-light);
    width: 20px;
    height: 20px;
    text-align: center;
}

.footerBottom {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
}

.copyright {
    padding-top: 1rem;
    color: #eeeeee;

    font-size: 0.9rem;
}

.copyright p {
    margin: 0.5rem 0;
}

/* Responsive adjustments */
@media (max-width: 930px) {
    .footerTop {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .footerTop {
        grid-template-columns: 1fr;
    }

}
