:root {
    --main-dark: #264653;
    --main-light: #ffffff;
    --sub-dark: #727171;
    --active-link: #d62839;
    --sub-text: #a8a8a8;
    --light-gray-border: #ccc;
    --subheader-color: #013042;
    --box-shadow-one: 0px 0px 4px rgba(0, 0, 0, 0.3);
    --box-shadow-two: 0 4px 15px rgba(0, 0, 0, 0.1);
    --box-shadow-three: 0px 2px 4px rgba(0, 0, 0, 0.3);
    --box-shadow-four: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-pop: 0 12px 24px rgba(0, 0, 0, 0.1);
}
* {
    font-family: var(--font-roboto) var(--font-roboto-mono);
}
html{
    scroll-behavior: smooth;

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
a.active {
    color: var(--active-link);
}
.separationLine {
    height: 2px;
    background-color: #d8d3d3;
}
.small-button {
    background-color: var(--main-dark);
    padding: 10px 20px;
    font-size: 14px;
    color: var(--main-light);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s all;
}
.small-button:not[disabled]:hover {
    transform: scale(1.05);
    border-radius: 0;
    box-shadow: var(--box-shadow-pop);
}

button:disabled{
    opacity: .5;
    cursor:auto;
}