.header{
    /* height: 50vh; */
    display: flex;
    height: 200px;
}
.logoWrapper{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo{
   height: 90%;
    width: auto;
}
.cover{
    background-color: var(--main-dark);
    width: 80%;
    position: relative;
    overflow: hidden;
}
.coverTextWrapper{
    color: white;
    text-align: center;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.coverTextWrapper p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.coverTextWrapper p:first-of-type{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 25px;
}
.coverBackgroundWrapper{
    position: absolute;
    opacity: 15%;
    z-index: 1;
    top: -40%;
    width: 400px;
    height: 190%;
    transform: scaleX(-1);
}

@media (max-width: 968px) {
    .header{
        height: 150px;
    }
    .coverTextWrapper p:first-of-type{
        font-size: 2rem;
    }
    .coverTextWrapper p{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px) {
    
    .logoWrapper{
        display: none;
    }
    .cover{
        width: 100%;
    }
    
}
@media (max-width: 500px) {
    .header{
        height: 120px;
    }
    .coverTextWrapper p:first-of-type{
        font-size: 1.5rem;
    }
    .coverTextWrapper p{
        font-size: 1rem;
    }
}
@media (max-width: 380px) {
    
    .coverTextWrapper p:first-of-type{
        font-size: 1.2rem;
    }
    .coverTextWrapper p{
        font-size: 0.9rem;
    }
}