.postCard {
    width: calc((100% / 3) - 16px);
    display: block;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid var(--light-gray-border);
}
.imageWrapper {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    width: 100%;
    height: 250px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all;
    aspect-ratio: 1;
}
.postCard:hover .image {
    transform: scale(1.05);
}
.infoWrapper {
    padding: 20px;
}
.header {
    color: var(--main-dark);
    margin-bottom: 15px;
    font-size: 1.6rem;
}
.description {
    color: var(--sub-text);
    line-height: 1.5;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}
.icon {
    color: var(--main-dark);
}
.icon svg {
    fill: var(--main-dark);
}

@media screen and (max-width:1080px){
    .postCard {
        width: calc((100% / 2) - 12px);
    }
    

}

@media screen and (max-width:720px){
    .postCard {
        width: 100%;
    }

}
@media screen and (max-width:480px){
    .header{
        font-size: 1.4rem;
    }
    .description{
        font-size: 14px;
    }
}