.versesList {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 70vh;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
}
.bismallah {
    height: auto;
}
@media (max-width: 768px) {
    .versesList {
        width: 100%;
    }
    .bismallah {
        width: 90%;
        margin: auto;
    }
}
