.ayah {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 40px;
    font-size: 1.4rem;
    margin-left: 10px;

}
.ayah::after {
    content: "\06DD";
    position: absolute;
    top: 50%;
    left: 50%;
}
.sm::after{
    font-size: 2.3rem;
    transform: translate(-50%, -55%);


}
.md{
    font-size: 1.3rem;
}
.md::after{
    font-size: 2.5rem;
    transform: translate(-50%, -58%);

}
.lg{
    font-size: 1.2rem;
}
.lg::after{
    font-size: 2.5rem;
    transform: translate(-50%, -56%);
    
}


