.verse {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    width: 90%;
    margin: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: right;
    box-shadow: var(--box-shadow-one);
}
.audioWrapper {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}
.audioWrapper:hover .arabic,
.audioWrapper:hover .buttonWrapper {
    color: var(--main-dark);
    fill: var(--main-dark);
}

.buttonWrapper {
    margin-top: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 18px;
}
.arabic {
    line-height: 1.6;
    color: black;
}
.arabicText {
    font-size: 1.6rem;
}

.englishText {
    font-size: 1.2rem;
    text-align: left;
    color: var(--sub-dark);
}
